* {
  box-sizing: border-box;
}

body {
  font-family: 'Verdana', 'Helvetica', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #d2e1f9;
  position: fixed;
  width: 100%;
  padding: 0.5em 1em 0em 0em;
  top: 0;
}

header .logo {
  float: left;
  margin-right: 7em;
  margin-left: 1em;
  width: 250px;
}

header ul {
  display: inline-block;
  padding-top: 5em;
  margin: 0;
  padding: 0;
}

header ul li {
  display: inline-block;
  padding: 2em 1em 1em 1em;    /* top, right, bottom, left */
  border-radius: 2em;
  font-size: 18px;
}

header ul li:hover, #login:hover, #signup:hover, #search-button:hover, #select-button:hover {
  background-color: lightblue;
}

#login, #signup{
  float: right;
  background-color: #1c63d8;
  border-radius: 2em;
  color: white;
  margin-top: 1em;
  padding: 1em;
  font-size: 16px;
}

main, section {
  margin-top: 7em;
  padding: 1em;
}

h2{
  font-weight: bold;
  text-align: center;
  font-size: 30px;
  color: #1c63d8;
  background-color: #d2e1f9;
}

.seat-options{
  margin-left: 25em;
  align-items: center;
  justify-content: center;
}

.search{
  margin-left: 35em;
  align-items: center;
  justify-content: center;
}

.movie-cover{
  margin-left: 15em;
  width: 250px;
  height: 300px;
  align-items: center;
  justify-content: center;
}

#back-button{
  margin-left:18em;
  background-color: #1c63d8;
  border-radius: 2em;
  color: white;
  font-size: 16px;
}

#search-button{
  margin-left:10em;
  background-color: #1c63d8;
  border-radius: 2em;
  color: white;
  font-size: 16px;
}

#back-button:hover{
  background-color: lightblue;
}

h3{
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  color: #1c63d8;
  background-color: #d2e1f9;
}

td, th{
  text-align: center;
  padding: 1em;
}

#select-button{
  color: white;
  background-color: #1c63d8;
}

#results-list{
  margin-left:10em;
}

.movies-list{
  margin-left: 35em;
  align-items: center;
  justify-content: center;
}



